%ul.no-bullet
  - @priorities.each do |priority|
    %li
      %span.color_box.invisible= priority.color
      %span= priority.name

%div.row
  %div.columns.large-3
    %div.controls
      %div.new
        = button_tag 'New Priority', :id => 'new_priority', :class => 'button radius success tiny'
      %div.form.invisible
        = form_tag do
          = text_field_tag 'color', nil, :class => 'minicolors'
          = label_tag 'name'
          = text_field_tag 'name'
          = label_tag 'value'
          = text_field_tag 'value'
          = link_to('Cancel', '#', :id=>'cancel_priority', :class => 'button radius tiny alert')
          = submit_tag 'Create New Priority', :id => 'create_priority', :class => 'button radius tiny'
  %div.columns.large-9